@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome welcome!</h1>
    To view task list <a class="nav-link" href="TaskList/ViewTasks">Click here</a>
</div>
