<form action="AddTask" method="post">
    <input type="text" name="Description" value="" placeholder="Description" required />
    <input type="date" name="DueDate" required />
    <input type="hidden" name="IsComplete" value="false" />
    <input type="submit" value="Add Task" />
</form>
